<style>
	footer .container {
		display: grid;
		grid-template-columns: 30% 40% 30%; /* 3 colonnes de 30%, 40%, 30% */
		gap: 20px; /* Espacement entre les colonnes */
		padding: 20px;
	}
	footer ul {
		list-style-type: none;
	}
  	footer a, footer p {
        color: #9eabb3;
    }
</style>
<footer>
	<section>
		<div class="container">
			<div>
                <a href="https://bff.ecoindex.fr/redirect/?url=https://www.greenit.fr/" target="_blank" title="Analyse ecoindex"><img src="https://bff.ecoindex.fr/badge/?theme=dark&amp;url=https://www.greenit.fr/" alt="Badge ecoindex"></a>
            </div>
			<div>
                <ul>
                    <li><a href="/feed/">RSS</a></li>
                    <li><a href="/a-propos/">A propos</a></li>
                    <li><a href="/contact/">Contact</a></li>
                    <li><a href="/equipe/">Equipe</a></li>
                    <li><a href="/communiques/">Communiqués</a></li>
                    <li><a href="/formations/">Formations</a></li>
                    <li><a href="/revue-de-presse/">Revue de presse</a></li>
                    <li><a href="/definition/">Définition</a></li>
                    <li><a href="/echanger/">Echanger avec le collectif</a></li>
                </ul>                              
            </div>

			<div>
				<ul>
					<li><a href="https://www.greenit.fr/2024/11/28/tco-certified-identifie-les-equipements-numeriques-moins-risques-pour-la-sante/" title="Lire l'article TCO Certified identifie les équipements numériques moins risqués pour la santé">TCO Certified identifie les équipements numériques moins risqués pour la santé</a></li>
					<li><a href="https://www.greenit.fr/2024/11/06/e-commerce-sites-corporate-et-ia-generatives-leco-conception-digitale-en-perte-de-vitesse/" title="Lire l'article E-commerce, sites corporate et IA génératives : l’éco-conception digitale en perte de vitesse">E-commerce, sites corporate et IA génératives : l’éco-conception digitale en perte de vitesse</a></li>
					<li><a href="https://www.greenit.fr/2024/10/01/ecoconception-enfin-un-module-ecoindex-pour-le-cms-drupal/" title="Lire l'article Ecoconception : enfin un module EcoIndex pour le CMS Drupal !">Ecoconception : enfin un module EcoIndex pour le CMS Drupal !</a></li>
					<li><a href="https://www.greenit.fr/2024/09/23/numerique-au-bureau-jusqua-60-de-notre-budget-annuel-soutenable/" title="Lire l'article Numérique au bureau : jusqu’à 60 % de notre budget annuel soutenable">Numérique au bureau : jusqu’à 60 % de notre budget annuel soutenable</a></li>
					<li><a href="https://www.greenit.fr/2024/09/12/letat-francais-condamne-pour-inaccessibilite-numerique-dans-leducation/" title="Lire l'article L’Etat français condamné pour inaccessibilité numérique dans l’éducation">L’Etat français condamné pour inaccessibilité numérique dans l’éducation</a></li>
				</ul>
			</div>
		</div>
	</section>
	<section>
        <div>
            <p>© GreenIT.fr - 2004/2024 - Contact - Crédits : Breek - dispense de déclaration CNIL</p>
        </div>
		<div>
			<a href="http://www.wattimpact.com/sceau2.aspx?urlreferrer=http://www.greenit.fr">
			<img src="green-site.png" alt="" srcset="">
			</a>
		</div>
	</section>
</footer>
